.home {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.home > p {
    width: 100%;
}
.background-image {
    width: 100%;
}
.intro-paragraph {
    align-self: center;
    width: 100%;
}
section.container {
    margin-top: 70px;
}
td {
    font-size: 20px;
    text-align: center;
}

th {
    cursor: pointer;
    text-align: center;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}
.mw15 {
    max-width: 15%;
}
.currency-group {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    width: 100%;
}
.currency-group > .form-group {
    width: 100%;
    margin: 10px;
}
.currency-group > .form-group > div > .amount {
    margin-top: 10px;
}
.currency-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.currency-form-content > button {
    align-self: center;
}